.back {
  width: 200px;
  height: 100px;
  margin: 10px auto;
  border: 2px solid red;
  background: rgba(144, 192, 190, 0.575);
  color: rgba(46, 10, 131, 0.548);
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }
