$base-fontsize: 20px;
$base-color: rgba(46, 10, 131, 0.548);
$base-bg: rgba(144, 192, 190, 0.575);
$base-fontweight: bold;
$base-border: 2px solid red;






.back {
    width: 200px;
    height: 100px;
    margin: 10px auto;
    border: $base-border;
    background: $base-bg;
    color: $base-color;
    font-weight: $base-fontweight;
    font-size: $base-fontsize;
    display: flex;
    justify-content: center;    
    align-items: center;
}